<%include partials/header%>
<section>
	<div class="col-lg-8 col-lg-offset-2">
		<div class="jumbotron home">
			<div class="container">
				<div class="header">
					<h1 class="lead">Welcome to Authentication</h1>
				</div>
				<p>This simple App shows how Register, Login and Logout features can be integrated in a NodeJs App</p>
				<p>
				<a href="/register"  class="btn	btn-primary btn-lg"> Register </a></p>
			</div>
		</div>
	</div>
</section>


<%include partials/footer%>
